<article
  class="miniarticle"
  [routerLink]="['/article', article?.id]"
  (click)="clearSearchList()"
>
  <img [src]="article?.image" alt="mini image" class="miniarticle__image" />

  <h2 class="miniarticle__title" [routerLink]="['/article', article?.id]">
    {{ article?.title }}
  </h2>
</article>
