<article class="article" [ngClass]="{ inHomePage: homePage }">
  <img [src]="article?.image" alt="image de l'article" />
  <h2 class="article__title" [routerLink]="['/article', article?.id]">
    {{ article?.title }}
  </h2>
  <h3 class="article__summary" *ngIf="homePage">{{ article?.summary }}</h3>
  <p class="article__content" *ngIf="!homePage && !modifyContent">
    {{ article?.content }}
  </p>
  <div *ngIf="modifyContent">
    <form [formGroup]="modifContent" (ngSubmit)="submitContent()">
      <label for="Content">Votre nouveau texte</label>
      <input
        type="text"
        formControlName="content"
        [placeholder]="article?.content"
      />

      <button [disabled]="!modifContent.valid" type="submit">+ Modifier</button>
    </form>
  </div>
  <p class="article__modify" (click)="modifyButton()" *ngIf="!homePage">
    <b>Modifier</b>
  </p>
  <p class="article__delete" (click)="deleteButton()">
    <b>Supprimer</b>
  </p>
</article>
