<header class="header">
  <h1 class="header__title" [routerLink]="['/']">TITRE DU BLOG</h1>
  <nav class="header__nav">
    <ul class="header__nav--element">
      <!-- <li><a [routerLink]="['newarticle']">Ajouter un article</a></li> -->
      <li>
        <a
          [routerLink]="['/connect', type[0]]"
          *ngIf="!loginService.isPresent()"
          class="menuLink"
          >Connexion</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/']"
          (click)="deconnect()"
          *ngIf="loginService.isPresent()"
          class="menuLink"
          >Déconnexion</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/connect', type[1]]"
          *ngIf="!loginService.isPresent()"
          class="menuLink"
          >Inscription</a
        >
      </li>
    </ul>
  </nav>
  <div class="header__search">
    <form [formGroup]="searchForm" class="header__search--form">
      <label for="Search">Chercher un article</label>
      <input
        type="text"
        formControlName="title"
        class="header__search--form__input"
      />
    </form>
    <div
      *ngFor="let article of apiServices.articleSearchList"
      class="header__search--list"
    >
      <app-mini-article
        [article]="article"
        class="miniArticleList"
      ></app-mini-article>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
