<!-- <form [formGroup]="searchForm" (ngSubmit)="submitSearch()">
  <label for="Search">Chercher un article</label>
  <input type="text" formControlName="title" /> -->
<!-- <button [disabled]="!logUser.valid" type="submit">+ Se connecter</button> -->
<!-- gng -->
<app-add-article-page></app-add-article-page>
<div *ngFor="let article of apiServices.articleList">
  <app-article
    [article]="article"
    (deleted)="apiServices.deleteArticle($event)"
    (modify)="apiServices.modifyArticle($event, $event)"
    [homePage]="true"
  ></app-article>
</div>
