<div class="openSubArticle">
  <p class="openSubArticle__text" (click)="openSubscribe()">
    {{ articleString }}
  </p>
</div>
<section class="subArticle" [ngClass]="open ? 'open' : 'close'">
  <form
    [formGroup]="createArticle"
    (ngSubmit)="submitArticle()"
    class="subArticle__form"
  >
    <label for="Titre">Titre</label>
    <input
      type="text"
      formControlName="title"
      class="subArticle__form--input"
    />
    <label for="Image">Url de l'image</label>
    <input
      type="text"
      formControlName="image"
      class="subArticle__form--input"
    />
    <label for="Résumé">Résumé</label>
    <input
      type="text"
      formControlName="summary"
      class="subArticle__form--input"
    />
    <label for="Contenu">Contenu</label>
    <textarea
      name="Contenu"
      id="Contenu"
      cols="40"
      rows="10"
      formControlName="content"
      class="subArticle__form--input"
    ></textarea>
    <!-- <input type="text" formControlName="content" /> -->
    <label for="Publier">Publier l'article</label>
    <input
      #draftBox
      type="checkbox"
      [checked]="publish"
      (change)="onPublishBool(draftBox.checked)"
      formControlName="draft"
      class="subArticle__form--check"
    />

    <button
      [disabled]="!createArticle.valid"
      type="submit"
      class="subArticle__form--btn"
    >
      + Ajouter l'article
    </button>
  </form>
</section>
