* {
  font-family: 'Titillium Web', sans-serif;
}
a:-webkit-any-link{
  text-decoration: none;
  color: $primary-color;
  font-size: $parag-font;
}
h1 {
  font-size: $title-font;
  font-weight: bold;
}
h2 {
  font-size: $subtitle-font;
}
p {
  font-size: $parag-font;
}
.table__col--cell {
  font-weight: bolder;
  font-size: $cell-font;
  color: rgba(0, 0, 0, 0.672);
}
.icon {
  width: $icon-size;
  margin-right: 4px;
}
.letter {
  font-size: $keyboard-font;
}
